<footer>
    <p>Todos os direitos resevados para <a target="_blank" href="https://thicode.netlify.app/">Thi Code</a> &copy;
    </p>
    <p>Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokédex</a></p>
</footer>