@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
  scroll-behavior: smooth;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #dc0a2d;
  top:0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 0.6rem;
}

nav img {
  width: 3rem;
}

nav h1 {
  color: #fff;
  font-size: 1.4rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

header img {
  margin-top: 3rem;
  width: 100%;
}

main {
  margin: 0 10rem 0 10rem;
}

section#cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
}

section#cards div.card {
  width: 20rem;
  box-shadow: 5px 5px 5px 5px #00000015;
  padding: 1rem;
  margin: 3rem 0 5rem 0;
}

section#cards h2 {
  width: 100%;
  text-align: center;
}

section#cards div.card img {
  width: 100%;
}

section#cards div.card h3 {
  margin-bottom: 1rem;
}

section#cards div.card p.descricao {
  margin-bottom: 1rem;
}

/* section#cards div.card a#editar {
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px #0077ff;
  color: #0077ff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 2rem;
}

section#cards div.card a#apagar {
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px #ff0000;
  color: #ff0000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 1rem;
}

section#cards div.card a#editar:hover {
  background-color: #0077ff;
  color: #fff;
}

section#cards div.card a#apagar:hover {
  background-color: #ff0000;
  color: #fff;
} */

section#cadastro {
  display: flex;
  justify-content: center;

  padding: 10rem 5rem;
}

section#cadastro img {
  width: 100%;
}

section#cadastro h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
  color: rgb(109, 109, 109);
}

section#cadastro form {
  width: 100%;
}

section#cadastro form input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px rgb(197, 197, 197);
  margin: 0 1rem 1rem 1rem;
}

section#cadastro form label {
  margin: 1rem;
  color: rgb(148, 148, 148);
}

section#cadastro form button {
  padding: 0.6rem;
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px red;
  color: red;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

section#cadastro form button:hover {
  background-color: red;
  color: #fff;
}

footer {
  background-color: #dc0a2d;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

footer p {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.3rem;
}

footer p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.modal-overlay {
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #dc0a2d;
  padding: 1rem;
  color: #fff;
}

.modal-header a#close-modal-put {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}

.modal-body {
  padding: 0.5rem 1rem;
  flex: 1;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.form-modal {
  display: flex;
  flex-wrap: wrap;
}

.form-modal input {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  border: solid 2px #ccc;
}

.form-modal label {
  color: rgb(112, 112, 112);
  padding-top: 0.5rem;
}

.form-modal button {
  padding: 0.6rem;
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  font-size: 1rem;
  background-color: #fff;
  color: #40af00;
  border: solid 1px #40af00;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-modal button:hover {
  background-color: #40af00;
  color: #fff;
}

.modal-body p {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

div#btns-del {
  display: flex;
  margin: 0 auto;
}

div#btns-del a {
  padding: 0.7rem;
  text-decoration: none;
  width: 100%;
  margin: 2rem 1rem 1rem;
  border-radius: 3px;
}

div#btns-del a#no {
  color: #dc0a2d;
  border: solid 1px #dc0a2d;
  transition: all 0.3s ease-in-out;
}

div#btns-del a#no:hover {
  color: #fff;
  background-color: #dc0a2d;
}

div#btns-del a#yes {
  color: #40af00;
  border: solid 1px #40af00;
  transition: all 0.3s ease-in-out;
}

div#btns-del a#yes:hover {
  color: #fff;
  background-color: #40af00;
}

.message {
  position: absolute;
  top: 7rem;
  right: 2rem;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  padding: 1.2rem;
  font-weight: 600;
  border-radius: 3px;
}

.message-danger {
  background-color: #ffbac6;
  color: #b4001e;
}

.message-success {
  background-color: #c0ffba;
  color: #007a0a;
}

.message-info {
  background-color: #babfff;
  color: #0003b4;
}

.message-warning {
  background-color: #fffaba;
  color: #b48400;
}

.message i {
  cursor: pointer;
  font-size: 1.7rem;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
}

.dropdown-button {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.dropdown-button:hover {
  box-shadow: 0px 10px 10px 0 #00000030;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 6rem;
  margin-top: 1.8rem;
  overflow: auto;
  box-shadow: 0px 10px 10px 0 #00000015;
  background-color: #fff;
}

.dropdown-content a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  color: #000000;
}
.dropdown-content a:hover {
  background-color: #dc0a2d;
  color: #fff;
}

.search{
  padding-right: 2rem;
}

.search input{
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border-radius: 3px;
  width: 15rem;
  border: 1px solid #747474;
}

.search button{
  padding: 0.5rem;
  border: 1px solid #747474;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #747474;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search button:hover{
  background-color: #fff;
  color: #747474;
}

#result-search-space{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}

#result-search-space a{
  text-decoration: none;
  color: #fff;
  background-color: #dc0a2d;
  padding: .5rem;
  border-radius: .3rem;
  border: 1px solid #dc0a2d;
  transition: all 0.3s ease-in-out;
}

#result-search-space a:hover{
  color: #dc0a2d;
  background-color: #fff;
}

#result-search-space h2{
  color: #dc0a2d;
}